<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.saifudin.inventaris">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pdm"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pdm"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".menus.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".menus.Profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.Login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menus.Laporan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".menus.InsertLap"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".menus.EditLap"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>
</manifest>